

table {
  border-collapse: collapse;
}
div{
	height:100%;
}
.mainForm{
	width:1100px;
	border-collapse: collapse;
}

button{
	width:30px !important;
	text-align:center;
}

label{
	font-size:14px;
}

.topLeftBorder{
	border-left: 2px solid black;
	border-top: 2px solid black;
}

.topRightBorder{
	border-right: 2px solid black;
	border-top: 2px solid black;
}
.twoSideBorder{
	border-left: 2px solid;
	border-bottom: 2px solid;
}

/*.topBorder{
	border-top: 2px solid #000;
	display:table-cell;
} */

.topBorder{
	border-top: 2px solid #000;
} 

.topWhiteBorder{
	border-top: 3px solid #fff;
}

.topBottomBorder{
	border-top: 2px solid;
	border-bottom: 2px solid;
}
.leftBorder{
	border-left: 2px solid;
}

.rightBorder{
	border-right: 2px solid;
}

.bottomBorder{
	border-bottom: 2px solid;
}

.staticTextLabel{
	font-size:11px;
}

td.special { 
	border: 1px double black; 
}

.table{
	width:100%;
	border:none;
	align:left;
}

.input[text]{
	width:80px;
}
.mediumText{
	font-size:12px;
	font-weight:bold;
}
.smallText{
	font-size:13px;
}

input{height:16px;}
.smallTextBox1{
	width:30px;
}

.smallTextBox2{
	width:60px;
}

.smallTextBox3{
	width:90px;
}
label.Label15{
	font-size:15px;
}

p.firstpar {
  margin-top: 5px;
  text-indent: 0em;
  padding: 0 0px 0 5px;
  height:100%;
}

textarea{
	padding:5px;
	resize:none;
	overflow:hidden;
	width:97%;
}

.tr {
    position: relative;
	display: inline-block;
    height:20px;
    /*transform:rotateX(180deg);*/
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	border-radius:0px 0px 35px 35px;
	-moz-border-radius:0px 0px 35px 35px;
	-webkit-border-radius:0px 0px 35px 35px;
	text-align:center;
	font-size:15px;
	vertical-align:top !important;
}


textarea{
	font-family: Verdana, Arial, sans-serif;
    color: #000000;
    font-size: 12px;
	background-color:#E3E4FA;
}
span{
    //padding-top: 2.5px ! important;
    //padding-bottom: 0.5 ! important;
    font-family: Verdana, Arial, sans-serif;
    color: #000000;
    font-size: 11px;
    height: 16px !important;
}

input[type="text"] ,input[type="number"] {
    //padding-top: 2.5px ! important;
    //padding-bottom: 0.5 ! important;
    font-family: Verdana, Arial, sans-serif;
    color: #000000;
    font-size: 11px;
    height: 16px !important;
}

select{
    font-family: Arial, Lucida, Verdana, sans-serif !important;
    font-size: 12px !important;
    -moz-box-sizing: border-box;
    height: 21px !important;
}

table.border{
	border-top:2px solid black;
	border-right:1px solid black;
	background-color:#fff !important;
}

table.border  th{
	border-bottom:2px solid black !important;
	//border-left:1px solid black !important;
}

table.border td ,table.border th{
    text-align:center !important; 
    vertical-align:middle !important;
}

table.border td label.font15 ,table.border th label.font15{
	font-size:15px;
	font-weight:bold;
}

table.border td label.font13 ,table.border th label.font13{
	font-size:13px;
	font-weight:bold;
}

.BeBold{
	font-weight:bold;
	width:380px;
}

input.width30 {
	width:30px;
}
input.width40 {
	width:40px;
}

input.width50 {
	width:50px;
}

select.width30{
	width:30px;
	height:22px !important;
	width:80%;
}

select.width302{
	width:50px;
	height:21px !important;
}

select.width301{
	width:40px;
	height:22px !important;
	text-align:right !important;
}

select.width402{
	width:50px;
	height:17px !important;
	text-align:right !important;
	border:none;
}

input.width70{
	width:70px;
}

input.width80{
	width:80px;
}

input.width90{
	width:90px;
}


input.width100{
	width:85px;
}

input.width200{
	width:185px;
}

input.width140{
	width:240px;
}

.greyBG{
	background-color:grey;
}

table.border1  th{
	background-color:lightgrey;
	text-align:left;
}

table.greyTable th{
	background-color:lightgrey;
}

table.border1 input{
	border:none;
	width:99%;
}

table.border1  td{
	border:1px solid lightgrey;
}

.dottedBorder{
	text-align:center;
	border-top: 1px dotted #000;
}

.t1 {
    position: relative;
	display: inline-block;
    /*width:150px;*/
    height:22px;
    /*transform:rotateX(180deg);*/
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	border-radius:0px 0px 35px 35px;
	-moz-border-radius:0px 0px 35px 35px;
	-webkit-border-radius:0px 0px 35px 35px;
	text-align:center;
	font-size:15px;
	vertical-align:top;
}

.first-half {
    float: left;
    width: 50%;
	text-align:center;
}
.second-half {
    float: right;
    width: 50%;
	text-align:center;
}

.black_overlay{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #D0D0D0;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: none;
	position: fixed;
	top: 25%;
	left: 25%;
	width: 25%;
	height: 25%;
	padding: 5px;
	border: 3px solid #0099FF;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

label.subTableHeading{
	font-size:18px;
	font-weight:bold;	
}

.right{
	text-align:right !important;
	width:20%;
	
}
.left{
	text-align:left !important;
	width:80%;
}

	
.D   {
    display:none;
}
.V{
	 display:none;
}

.BeGrey{
	background-color:lightgrey;
}